.gradle/
**/.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.properties
local.properties
.settings/
.idea/
*.iml
*.ipr
*.iws
out/
*.log
.DS_Store
Thumbs.db
*.jks
*.apk
*.ap_
*.aab
.cxx/
.externalNativeBuild/
captures/
