<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <uses-feature android:name="android.hardware.usb.host"/>
  <!-- For Feedback -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
      android:maxSdkVersion="32"
      tools:ignore="ScopedStorage" />
  <!-- For Acra -->
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:name="tech.treeentertainment.camera.RycApplication"
    android:icon="@mipmap/somecamera_logo_icon"
    android:label="@string/app_name"
    android:largeHeap="true"
    android:theme="@style/Theme.SomeCamera">
    <activity
      android:name="tech.treeentertainment.camera.MainActivity"
      android:configChanges="orientation"
      android:label="@string/launcher_label"
      android:launchMode="singleTask"
      android:screenOrientation="sensorLandscape"
      android:exported="true"
        tools:ignore="DiscouragedApi">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
      </intent-filter>

      <meta-data
        android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
        android:resource="@xml/device_filter"/>
    </activity>
    <activity
      android:name="tech.treeentertainment.camera.activities.AppSettingsActivity"
      android:label="@string/activity_app_settings_title"
        android:theme="@style/Theme.SomeCamera" />
  </application>

</manifest>
