<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.treeentertainment.a_ucam"
  android:versionCode="10"
  android:versionName="0.3.0">

  <uses-feature android:name="android.hardware.usb.host"/>

  <supports-screens
    android:largeScreens="true"
    android:normalScreens="true"
    android:smallScreens="false"
    android:xlargeScreens="true"/>

  <!-- For Feedback -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
      android:maxSdkVersion="32"
      tools:ignore="ScopedStorage" />
  <!-- For Acra -->
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:name="tech.treeentertainment.a_ucam.RycApplication"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:largeHeap="true"
    android:theme="@style/Theme.RYC">
    <activity
      android:name="tech.treeentertainment.a_ucam.MainActivity"
      android:configChanges="orientation"
      android:label="@string/launcher_label"
      android:launchMode="singleTask"
      android:screenOrientation="sensorLandscape"
      android:exported="true"
        tools:ignore="DiscouragedApi">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
      </intent-filter>

      <meta-data
        android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
        android:resource="@xml/device_filter"/>
    </activity>
    <activity
      android:name="tech.treeentertainment.a_ucam.activities.AppSettingsActivity"
      android:label="@string/activity_app_settings_title" />
  </application>

</manifest>
